ak_tos-master/AK-TOS-Groovies/lib/classes/wsdl/argobasic-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    name="ArgobasicService"
    targetNamespace="http://www.navis.com/services/argobasicservice"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.navis.com/services/argobasicservice"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Argo Services</wsdl:documentation>

    <wsdl:types>
        <xsd:schema
                elementFormDefault="qualified"
                targetNamespace="http://www.navis.com/services/argobasicservice"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema">

            <xsd:element name="basicInvoke">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="scopeCoordinateIds" type="xsd:string"/>
                        <xsd:element name="xmlDoc" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="basicInvokeResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="basicInvokeResponse" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="invokeRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="scopeCoordinateIds" type="xsd:string"/>
                        <xsd:element name="request" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="handler" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="locale" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="invokeResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="basicInvokeResponse" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="basicInvokeRequest">
        <wsdl:part element="tns:basicInvoke" name="basicInvoke"/>
    </wsdl:message>

    <wsdl:message name="basicInvokeResponse">
        <wsdl:part element="tns:basicInvokeResponse" name="basicInvokeResponse"/>
    </wsdl:message>

    <wsdl:message name="invokeRequest">
        <wsdl:part element="tns:invokeRequest" name="invokeRequest"/>
    </wsdl:message>

    <wsdl:message name="invokeResponse">
        <wsdl:part element="tns:invokeResponse" name="invokeResponse"/>
    </wsdl:message>

    <wsdl:portType name="ArgobasicServicePort">

        <!-- name of your wrapped method -->
        <wsdl:operation name="basicInvoke">
            <wsdl:input message="tns:basicInvokeRequest"/>
            <wsdl:output message="tns:basicInvokeResponse"/>
        </wsdl:operation>

        <wsdl:operation name="invoke">
            <wsdl:input message="tns:invokeRequest"/>
            <wsdl:output message="tns:invokeResponse"/>
        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="ArgobasicServiceSoapBinding" type="tns:ArgobasicServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <!-- name of your wrapped method -->
        <wsdl:operation name="basicInvoke">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="invoke">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="ArgobasicService">
        <wsdl:port binding="tns:ArgobasicServiceSoapBinding" name="ArgobasicServicePort">
            <soap:address location="http://localhost:8080/apex/services/argobasicservice"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>