ak_tos-master/AK-TOS-Groovies/lib/classes/wsdl/orders-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    name="OrdersService"
    targetNamespace="http://www.navis.com/services/ordersservice"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.navis.com/services/ordersservice"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Order Services</wsdl:documentation>

    <wsdl:types>
        <xsd:schema
            elementFormDefault="qualified"
            targetNamespace="http://www.navis.com/services/ordersservice"
            xmlns:types="http://types.webservice.orders.navis.com/v1.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import
                namespace="http://types.webservice.orders.navis.com/v1.0"
                schemaLocation="../schema/orders-types.xsd">
            </xsd:import>
            <!-- wrapped style add the method name and arguments -->
            <xsd:element name="loadListUpdate">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="scopeCoordinateIdsWsType" type="types:ScopeCoordinateIdsWsType"/>
                        <xsd:element name="ctrId" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="ctrIsoCode" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="bkgNbr" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="vesselCode" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="vesselEncoding" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="voyageNbr" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="pod1Code" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="pod2Code" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="podEncoding" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="destination" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="SealNbr1" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="TempRequiredC" type="xsd:double" minOccurs="0"/>
                        <xsd:element name="WtGrossKg" type="xsd:long" minOccurs="0"/>
                        <xsd:element name="CommodityId" type="xsd:string" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="loadListUpdateResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="loadListUpdateResponse" type="types:LoadListUpdateResponseWsType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="loadListUpdateRequest">
        <wsdl:part element="tns:loadListUpdate" name="loadListUpdate"/>
    </wsdl:message>

    <wsdl:message name="loadListUpdateResponse">
        <wsdl:part element="tns:loadListUpdateResponse" name="loadListUpdatetResponse"/>
    </wsdl:message>

    <wsdl:portType name="OrdersServicePort">
        <!-- name of your wrapped method -->
        <wsdl:operation name="loadListUpdate">
            <wsdl:input message="tns:loadListUpdateRequest"/>
            <wsdl:output message="tns:loadListUpdateResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="OrdersServiceSoapBinding" type="tns:OrdersServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <!-- name of your wrapped method -->
        <wsdl:operation name="loadListUpdate">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="OrdersService">
        <wsdl:port binding="tns:OrdersServiceSoapBinding" name="OrdersServicePort">
            <soap:address location="http://localhost:8080/apex/services/ordersservice"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>